@media only screen and (min-width: 1000px) {
	.toolbar {
		width: 65.95744680851064%;
		*width: 65.90425531914893%;
	}
}

@media only screen and (min-width: 1400px) {
	.toolbar {
		width: 48.93617021276595%;
		*width: 48.88297872340425%;
	}
}

@media only screen and (max-width: 601px) {
	.toolbar > .span6 {
		width: 100%;
		*width: 99.94680851063829%;
		margin-left: 0;
	}
}
