AddHandler server-parsed .html
AddHandler server-parsed .shtml
AddHandler server-parsed .htm 

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -f [NC,OR]
RewriteCond %{REQUEST_FILENAME} -d [NC]
RewriteRule .* - [L]